// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #d5d5d5;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282525;
@very-dark-gray: #202020;

@red: #e65c4e;
@muted-red: #cf6a4c;
@dull-red: #d78d76;
@bright-red: #f04330;
@salmon: #f26f6f;
@beige: #e0c589;
@light-beige: #fff4aa;
@green: #87c26b;
@purple: #c993bc;
